@import "tailwindcss";

/* Variables de couleurs */
:root {
  --color-table-header: #deb5b5; /* header rows */
  --color-table-rows: #cdcdcd;   /* simple rows */
}

/* On garde Roboto comme en task_0 (pas obligatoire pour ce test, mais propre) */
@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
               Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
               "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  html { @apply font-sans; }
  body { @apply antialiased; }
}
