#logo {
  width: 200px;
  height: 200px;
  background: url('../../assets/holberton-logo.jpg') no-repeat center center;
  background-size: 200px 200px;
}
h1 {
  color: #333;
  font-family: Arial, sans-serif;
}
